# application information
APP_NAME="mini-RAG"
APP_VERSION="0.1"

# credentials
OPENAI_API_KEY=""

# file upload configuration
FILE_ALLOWED_TYPES=txt,pdf,docx
FILE_MAX_SIZE=10485760          # bytes (10 MB)
FILE_DEFAULT_CHUNK_SIZE=512000  # bytes (512 KB)

# MongoDB configuration
# Format: mongodb://username:password@host:port/?authSource=admin
MONGODB_URL=''
MONGODB_DATABASE=mini_rag_db